<!DOCTYPE html>
<html lang="fa" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        const colors = require('tailwindcss/colors')
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        cyan: colors.cyan,
                    }
                }
            },
            plugins: [
                require('@@tailwindcss/forms'),
            ]
        }
    </script>
    <link rel="stylesheet" type="text/css" href="@Html.Raw(string.Format(format: "{0}/lib/tailwindcss/components/css/main.css", args: new object?[]{Context.GetHostName()}))" />
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="@Html.Raw(string.Format(format: "{0}/lib/tailwindcss/components/js/index.js", args: new object?[]{Context.GetHostName()}))"></script>
    <title>@ViewData[nameof(View.Title)]</title>
</head>

<body class="h-full flex" style="direction: rtl;">
    <div class="grow shrink">

        <div x-data="{ open: (window.innerWidth < 1024) ? false : true }" @@keydown.window.escape="open = false"
             @@resize.window="open = (window.innerWidth < 1024) ? false : true"
             class="min-h-full flex flex-nowrap overflow-x-hidden">

            <!-- Static sidebar for desktop -->
            <div class="flex flex-none w-2/3 lg:w-2/12" :class="open ? '' : 'translate-x-full'">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex flex-grow max-h-screen flex-col overflow-y-auto bg-cyan-700 pt-5 pb-4">
                    <div class="flex flex-shrink-0 items-center px-4">
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=cyan&amp;shade=300"
                             alt="Easywire logo">
                    </div>
                    <nav class="mt-5 flex flex-1 flex-col divide-y divide-cyan-800 overflow-y-auto"
                         aria-label="Sidebar">
                        <div class="space-y-1 px-2">
                            @{
                                await Html.RenderPartialAsync("_Menu");
                            }
                        </div>
                    </nav>
                </div>
            </div>

            <div class="flex w-full flex-none lg:w-10/12 flex-col" :class="open ? '' : 'translate-x-2/3'">
                <div class="flex flex-grow max-h-screen flex-col overflow-y-auto">

                    <div class="flex h-16 flex-shrink-0 border-b border-gray-200 bg-white lg:border-none">
                        <button type="button"
                                class="border-r border-gray-200 px-4 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden"
                                @@click="open = !open">
                            <span class="sr-only">Open sidebar</span>
                            <svg class="h-6 w-6" x-description="Heroicon name: outline/bars-3-center-left"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5">
                                </path>
                            </svg>
                        </button>
                        <!-- Search bar -->
                        <div class="flex flex-1 justify-between px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
                            <div class="ml-4 mr-auto flex items-center md:ml-6">
                                <button type="button"
                                        class="rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2">
                                    <span class="sr-only">View notifications</span>
                                    <svg class="h-6 w-6" x-description="Heroicon name: outline/bell"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0">
                                        </path>
                                    </svg>
                                </button>

                                <!-- Profile dropdown -->
                                 @(await Html.PartialAsync("_ProfileDropdown"))
                            </div>
                        </div>
                    </div>

                    <main class="flex-1 pb-8">
                        <!-- Page header -->
                        @RenderBody()
                    </main>

                </div>
            </div>
        </div>

    </div>
</body>
</html>